@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin:0;
}

body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    width:100%;
    min-height:100vh;
}
#box{
    background-color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    border-radius: 7px;
    max-width: 32rem;
    width:100%
    height:auto;
    align::content:center;
    }

.image{
    width:300px;
    height:300px;
    border-radius: 9px;}


.p-box #p2{
}

#p1{
   color: hsl(218, 44%, 22%);


#p2{
    color: hsl(220, 15%, 55%);
}