@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    border:0;
}

body{
    background-color:hsl(212, 45%, 89%) ;
    font-family: 'Outfit', sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box{
    background-color:hsl(0, 0%, 100%);
    text-align: center;
    border: 1px solid white;
    border-radius: 1rem;
    width: 15.6rem;
    padding: 1rem 1rem 1.5rem 1rem;
}

.box img{
    max-width: 100%;
    border-radius: .75rem;
}
.box h3{
    font-weight: 700px;
    font-size: 22px;
    padding-top:1em;
    color:hsl(218, 44%, 22%);
}

.box p{
    padding-top:1em;
    color:hsl(220, 15%, 55%);
}